---
layout: default
---
<div align='right' style="line-height: 1.8; padding: 5px">
    Above: February in the Arctic Ocean <a href="https://scihub.copernicus.eu">
      as seen by  Sentinel-1</a>.
</div>
<!-- RESEARCH -->
    <section id="research" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research Topics</h2>
                    <!-- <h3 class="section-subheading text-muted">bleh</h3> -->
                </div>
            </div>
        </div>
        {% for topic in site.data.research %}
        {% if topic.picright %}
        <div class="container">
            <div class="row research-topic">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-8">
                        <h4>{{ topic.name }}</h4>
                        <p class="text-muted">{{ topic.description }}</p>
                        <!-- <p class="text-muted"><i>find out more</i> &rarr; <a class="page-scroll" href="#{{ topic.more }}">{{ topic.more }}</a></p> -->
                </div>
                <div class="col-md-3">
                        <img src="img/research/{{ topic.pic }}" class="img-responsive" alt="">
                </div>
            </div>
        </div>
        {% else %}
        <div class="container">
            <div class="row research-topic">
                <div class="col-md-4">
                        <img src="img/research/{{ topic.pic }}" class="img-responsive" alt="">
                </div>
                <div class="col-lg-8">
                        <h4>{{ topic.name }}</h4>
                        <p class="text-muted">{{ topic.description }}</p>
                        <!-- <p class="text-muted"><i>find out more</i> &rarr; <a class="page-scroll" href="#{{ topic.more }}">{{ topic.more }}</a></p> -->
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </section>

<!--- CODE -->
<section id="research" class="{% cycle '', 'bg-light-gray' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Code</h2>
                <h3 class="section-subheading text-muted">Because open science is so much more than just open access publication</h3>
            </div>
        </div>
    </div>
    {% for code in site.data.code %}
    <div class="container">
        <div class="row research-topic">
            <div class="col-md-4">
                    <img src="img/research/{{ code.pic }}" class="img-responsive" alt="">
            </div>
            <div class="col-lg-8">
                    <div>
                        <h4><a href="{{ code.url }}">{{code.name}}</a></h4>
                        <p class="text-muted">{{code.description}}</p>
                    </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
    <!-- <section id="code" class="{% cycle '', 'bg-light-gray' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Code</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-right">
                    <p class="large text-muted">Code code code.</p>
                </div>
                <div class="col-md-6">
                    <ul class="code">
                        {% for code in site.data.code %}
                        <li>
                            <h4><i class="fa fa-{{ code.network }}"></i> &nbsp;
                            <a href="{{ code.url }}">{{code.name}}</a></h4>
                            <p>{{code.description}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section> -->

<!--- PAPERS -->
<section id="papers" class="{% cycle '', 'bg-light-gray' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Publications</h2>
            </div>
        </div>
    </div>
    <div class="container">
      <!-- <div class="row">
            <div class="col-lg-12">
                <h3>Submitted</h3>
                {% bibliography  --query @unpublished %}
            </div>
      </div> -->
      <div class="row">
          <div class="col-lg-12">
              <h3>Papers</h3>
	        {% bibliography --query @article %}
          <h3>Ph.D. thesis</h3>
      {% bibliography --query @book %}
          </div>
      </div>
    </div>
</section>


        <!-- <section class="bg-light" id="portfolio">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading text-uppercase">Portfolio</h2>
                  <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                    <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                        <i class="fas fa-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="img/portfolio/01-thumbnail.jpg" alt="">
                  </a>
                  <div class="portfolio-caption">
                    <h4>Threads</h4>
                    <p class="text-muted">Illustration</p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                    <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                        <i class="fas fa-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="img/portfolio/02-thumbnail.jpg" alt="">
                  </a>
                  <div class="portfolio-caption">
                    <h4>Explore</h4>
                    <p class="text-muted">Graphic Design</p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                    <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                        <i class="fas fa-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="img/portfolio/03-thumbnail.jpg" alt="">
                  </a>
                  <div class="portfolio-caption">
                    <h4>Finish</h4>
                    <p class="text-muted">Identity</p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                        <i class="fas fa-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="img/portfolio/04-thumbnail.jpg" alt="">
                  </a>
                  <div class="portfolio-caption">
                    <h4>Lines</h4>
                    <p class="text-muted">Branding</p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                    <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                        <i class="fas fa-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="img/portfolio/05-thumbnail.jpg" alt="">
                  </a>
                  <div class="portfolio-caption">
                    <h4>Southwest</h4>
                    <p class="text-muted">Website Design</p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                    <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                        <i class="fas fa-plus fa-3x"></i>
                      </div>
                    </div>
                    <img class="img-fluid" src="img/portfolio/06-thumbnail.jpg" alt="">
                  </a>
                  <div class="portfolio-caption">
                    <h4>Window</h4>
                    <p class="text-muted">Photography</p>
                  </div>
                </div>
              </div>
            </div>
          </section> -->
