---
---
{{ reference }}

{% assign filename = entry.key | append: ".pdf" %}
{% for static_file in site.static_files %}
    {% if static_file.path contains filename %}
        {% assign pdf = true %}
    {% endif %}
{% endfor %}

{% if pdf %}
<a href="{{ site.url }}/papers/{{ filename }}">[pdf]</a>
{% endif %}
{% if entry.doi %}
  {% if entry.type == 'article' %}
    <a href="http://doi.org/{{ entry.doi }}">[webpage]</a>
  {% elsif entry.type == 'misc' %}
    <a href="{{ entry.url }}">[webpage]</a>
  {% endif %}
{% endif %}
<!-- {% if entry.note %}
<em>({{ entry.note }})</em>
{% endif %} -->
<div data-badge-popover="right" data-badge-type="2" data-doi="{{ entry.doi }}"
data-condensed="true" data-hide-no-mentions="true" class="altmetric-embed"></div>
